@import url("../header/header-top.css");
@import url("../header/header-middle.css");
@import url("../header/header-bottom.css");

#header {
    font-family: "Jost";
    font-weight: 400;
}

.wrapper {
    padding-inline: 135px;
}

.header__middle-right a {
    transition: var(--transition-fast);
}

.header__middle-right a:hover {
    opacity: 0.7;
}
