.blog {
    color: var(--text-black);
    padding-bottom: 110px;
}

.blog h2 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.blog__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog__wrapper a {
    transition: var(--transition-fast);
}

.blog__wrapper a:hover {
    opacity: 0.8;
}
