.promotion {
    padding-bottom: 110px;
}

.promotion__wrapper {
    width: 100%;
    height: 421px;
    overflow: hidden;
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: var(--block-large-border-radius);
    background: #595959;
    background: -webkit-linear-gradient(90deg, rgba(89, 89, 89, 1) 0%, rgba(59, 62, 70, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(89, 89, 89, 1) 0%, rgba(59, 62, 70, 1) 100%);
    background: linear-gradient(90deg, rgba(89, 89, 89, 1) 0%, rgba(59, 62, 70, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#595959", endColorstr="#3B3E46", GradientType=1);
}

.promotion__wrapper-left img {
    width: 914px;
    height: auto;
}

/* .promotion__wrapper-right {
    display: flex;
    flex-direction: column;
    gap: 27px;
} */

.promotion__wrapper-left {
    position: relative;
}

.promotion__wrapper-right {
    position: absolute;
    left: 60%;
}

.promotion__wrapper-right .promotion__tag {
    padding: 5px 13px;
    background-color: var(--background-red);
    color: var(--text-white);
    border-radius: var(--block-small-border-radius);
}

.promotion__wrapper-right .promotion__title {
    padding-top: 27px;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    width: 441px;
    line-height: 51px;
    padding-bottom: 27px;
}
