.category {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 255px;
    height: 255px;
    border-radius: var(--block-large-border-radius);
    padding: 18px;
}

.robot {
    background-image: url("../../../assets/images/jpg/category/robot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.electric {
    background-image: url("../../../assets/images/jpg/category/electric-bicycles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.weight {
    background-image: url("../../../assets/images/jpg/category/weight.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category__text {
    color: var(--text-white);
    background-color: rgba(53, 53, 53, 0.112);
    border: 1px solid rgba(131, 131, 131, 0.391);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 8px;
    padding: 1rem;
}

.category__text h5 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

.category__text-description p {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
}
