.services__block {
    width: 540px;
    height: 235px;
    padding-left: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background-light-blue);
    border-radius: var(--block-large-border-radius);
}

.model {
    background-image: url("../../../assets/images/jpg/model.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.service {
    background-image: url("../../../assets/images/jpg/service.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.services__block-text h4 {
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    width: 258px;
    line-height: 36px;
    padding-bottom: 10px;
}

.services__block-text .description p {
    width: 258px;
    line-height: 23px;
    padding-bottom: 22px;
}

.services__block-text .link {
    display: flex;
    padding: 10px 0;
    align-items: center;
    color: var(--text-purple);
}

.services__block-text .link img {
    transform: translateX(8px);
    transition: var(--transition-fast);
}

.services__block-text .link:hover img {
    transform: translateX(15px);
}
