.button__place {
    font-family: "Jost";
    font-weight: 400;
    font-size: 1wpx;
    background-color: var(--background-purple);
    border-radius: var(--block-small-border-radius);
    color: var(--text-color-white);
    padding: 10px 20px;
    transition: var(--transition-fast);
}

.button__place:hover {
    opacity: 0.8;
}
