.pricing__blocks {
    display: flex;
    justify-content: space-between;
}

.characteristics__header h2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.characteristics__header-description {
    margin: 0 auto;
    width: 635px;
    text-align: center;
    padding-bottom: 51px;
}

.pricing__blocks-left {
    width: 350px;
    padding-top: 17px;
    min-height: 439px;
    background-color: var(--background-light-blue);
    border-radius: var(--block-large-border-radius);
}

.pricing__blocks-left .value {
    width: 100%;
    cursor: pointer;
    height: 47px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 32px;
    transition: var(--transition-fast);
}

.pricing__blocks-left .value:hover {
    background-color: var(--background-dark-blue);
    color: var(--text-gray);
}

.pricing__blocks-left .select-value {
    background-color: var(--background-white);
    color: var(--text-purple);
    border-left: 2px solid var(--background-purple);
}

.pricing__blocks-right {
    width: 730px;
    min-height: 439px;
    background-color: var(--background-white);
    border: 1px solid #EAEBED;
    border-radius: var(--block-large-border-radius);
}

.option {
    width: 100%;
    padding-block: 23px;
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    border-bottom: 1px solid #EAEBED;
}

.option .option-price {
    font-weight: 500;
}
