.products {
    margin-top: 81px;
}

.products__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.products__text .products__text-title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-black);
}
