.question {
    width: 730px;
    margin: 0 auto;
    padding-bottom: 18px;
    border-bottom: 1px solid #EAEBED;
}

.question .question__main {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.question__title {
    font-weight: 500;
}

/* .question__icon {
    font-size: 50px;
} */
