#main {
    font-family: "Jost";
    font-weight: 400;
    margin-top: 31px;
}

.hero__screen {
    position: relative;
    overflow: hidden;
}

.hero__screen-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-wrapper {
    padding-left: 135px;
}

.hero__screen {
    padding-block: 35px;
    width: 100%;
    height: 421px;
    border-radius: var(--block-large-border-radius);
    color: var(--text-white);
    background: radial-gradient(130% 100% at 110% 62.23%, #a6a9ff 0%, #6f73ee 100%);
}

.screen__left-text {
    padding-top: 25px;
}

.screen__left-text .tag {
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 74px;
    border: 1px solid var(--background-white);
    padding: 5px 10px;
    border-radius: var(--block-small-border-radius);
    margin-bottom: 35px;
}

.screen__left-text .title {
    width: 615px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.screen__left-text .description p {
    font-size: 20px;
}

.screen__left-button {
    margin-top: 25px;
}

.screen__left-button button {
    background-color: var(--background-white);
    color: var(--text-purple);
    padding: 20px 25px;
    border-radius: var(--block-small-border-radius);
}

.hero__right-bike img {
    position: absolute;
    bottom: 0;
    width: 608px;
    height: auto;
    transform: translateX(-100%);
    z-index: 2;
}

.hero__right-tag img {
    position: absolute;
    bottom: 20%;
    right: 32%;
    z-index: 10;
}

.background__text {
    position: absolute;
    top: 50%;
    font-size: 520px;
    left: 30%;
    opacity: 30%;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: 700;
}

.screen__left-slider {
    margin-top: 46px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.screen__left-slider .left-slider, .right-slider {
    display: flex;
    justify-content: center;
    padding: 6px;
    width: 26px;
    height: 26px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.494);
    transition: var(--transition-fast);
}

.left-slider:hover, .right-slider:hover {
    background-color: rgba(255, 255, 255, 0.175);
}

.load-line {
    width: 34px;
    height: 2px;
    border-radius: 999px;
    background-color: #8E91F2;
}

.progress {
    display: flex;
    gap: 5px;
    align-items: center;
}

.block {
    font-family: "Jost";
    color: var(--text-black);
}

.block h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 5px;
}

.achievements-left {
    display: flex;
    gap: 90px;
}

.achievements__wrapper {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yandex__block {
    cursor: default;
    border: 1px solid #5d6c7b1d;
    border-radius: var(--block-small-border-radius);
    padding: 10px;
    width: 190px;
}

.yandex__block-wrapper {
    display: flex;
    align-items: center;
    gap: 18px;
}

.yandex__block-left img {
    z-index: 10;
}

.yandex__block-right span {
    font-size: 12px;
    color: var(--text-gray);
}

.yandex__block-star {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.yandex__block-star .star {
    color: var(--text-black);
    font-size: 25px;
    font-weight: 600;
}

.yandex__block-left {
    position: relative;
    background-color: #FC3F1D;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    border-radius: var(--block-small-border-radius);
    padding: 13px;
    z-index: 6;
}

.shadow {
    position: absolute;
    background-color: rgba(252, 62, 29, 0.814);
    filter: blur(15px);
    width: 48px;
    height: 48px;
    z-index: 2;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
